/* Global stylesheet */

@font-face {
  font-family: Minecraft-Regular;
  src: url("../fonts/Minecraft-Regular.otf") format("opentype");
}

@font-face {
  font-family: MintBit-Regular;
  src: url("../fonts/MintBit.otf") format("opentype");
}

@font-face {
  font-family: Minecrafter;
  src: url("../fonts/Minecrafter.ttf") format("truetype");
}

@font-face {
  font-family: Minecrafter-Cracked;
  src: url("../fonts/Minecrafter-Cracked.ttf") format("truetype");
}

:root {
  --inv-background: #c6c6c6;
  --slot-background: #8b8b8b;
  --slot-locked-background: #474545;
  --slot-background-hover: #9f9f9f;
  --slot-shadow: rgba(55, 55, 55, 0.7);
  --slot-inset: #fefefe;

  --button-text: #fff;
  --button-text-shadow: #000a;
  --button-text-hover: #ffffa0;
  --button-text-hover-shadow: #202013cc;
  --button-border: #000;
  --button-hover-border: #fff;
  --button-background: #999;
  --button-background-hover: rgba(100, 100, 255, 0.45);
  --button-active-inset-dark: #0004;
  --button-active-inset-light: #fff7;
  --button-text-inset-dark: #0006;
  --button-active-text-inset-light: #fff5;
}

body {
  background-color: rgb(40, 40, 43);
  margin: 1rem;
  font-family: MintBit-Regular;
}

header {
  color: var(--inv-background);
  max-width: 40rem;
  margin: auto;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-size: min(3em, 10vw);
  font-family: Minecrafter-Cracked;
}

h2 {
  text-align: center;
  margin: auto;
}

main {
  max-width: 40rem;
  margin: auto;
}

a,
a:visited {
  text-decoration: none;
  color: blue;
}

/* Utility */

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.navigation {
  display: flex;
  margin: 0;
  margin-bottom: 1rem;
}

.left,
.right,
.middle {
  flex: 1;
  margin: 0 0.5rem;
}

/* Minecraft Style Button */
.mc-button {
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  border:2px solid var(--button-border);

  color: var(--inv-background);
  text-decoration: none;

  background: var(--button-background) url("../images/button-background.png")
    center / cover;
  background-repeat: repeat;
  image-rendering: pixelated;

  text-align: center;
}

/* Mouseover */
.mc-button:not(.locked):hover .title {
  text-shadow: 0.155rem 0.155rem var(--button-text-shadow);
}
/* Mouseover */
.mc-button:not(.locked):hover {
  border:2px solid var(--button-hover-border);
}
.mc-button:not(.locked):active .title {
  box-shadow: inset -2px -4px var(--button-active-inset-dark),
    inset 2px 2px var(--button-active-text-inset-light);
}
.mc-button.locked{
  background-color: var(--slot-locked-background);
}
/* Button title */
.mc-button .title {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  font-size: 18px;
  letter-spacing: 0.05rem;
  font-weight: 400;
  color: var(--button-text);
  text-shadow: 0.15rem 0.15rem var(--button-text-shadow);
  box-shadow: inset -2px -4px var(--button-text-inset-dark),
    inset 2px 2px var(--button-active-inset-light);
}

.guesses {
  min-width: 22rem;
  max-width: 46rem;
  overflow-x: auto;
  margin: auto auto 2rem auto;
  display: flex;
  gap: 2rem;
} 

.inv-background {
  background: var(--inv-background);
  color: var(--slot-shadow);
  border-radius: 3px;
  box-shadow: 5px 5px 0px var(--slot-shadow),
    inset 4px 4px 0px var(--slot-inset);
  padding: 1.5rem;
  margin-bottom: 10px;
}

.slot {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--slot-background);
  box-shadow: inset 2px 2px 0px var(--slot-shadow),
    inset -2px -2px 0px var(--slot-inset);
}

.slot:hover,
.slot.dragging {
  background-color: var(--slot-background-hover);
}

.lockedslot {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slot-locked-background);
  box-shadow: inset 2px 2px 0px var(--slot-shadow),
    inset -2px -2px 0px var(--slot-inset);
}

.slot-image {
  margin: auto;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  /* image-rendering: auto; */
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

#popupSlot {
  margin: auto;
}

.crafting-table {
  display: table;
  margin: 0;
}

.crafting-table-row {
  display: flex;
}

.crafting-table-instance {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-around;
}
.output-slot
{
  width: 48px;
  height: 48px;
}
.arrow {
  color: var(--slot-background);
  margin: auto 0 auto 0;
  font-size: 3rem;
  
}
.clear-button-container
{
  user-select: none;
  position: relative;
}
.clear-button
{
  user-select: none;
  display: flex;
  height: 16px;
  width: 16px;
  align-items: center;
}
.clear-button > .title
{
  user-select: none;
  height: auto;
  width: 16px;
  font-size: 1rem;
}
.arrow p {
  margin: 0;
}

.ingredients {
  max-width: 100%;
  
  height: 24rem;
  margin: auto 0;
  overflow-y: auto;
}

.ingredients-list {
  display: flex;
  height: 18rem;
  justify-content: left;
  width: auto;
  margin: 1rem auto;
  overflow-x: auto;
}

#cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  margin: auto;
  background-size: cover;
  image-rendering: pixelated;
  width: 3rem;
  height: 3rem;
}

#solution,
#timezone {
  display: grid;
  
  opacity: 0;
  position: absolute;
  pointer-events: none;
  height: 1rem;
  width: 1rem;
}

.greenguess {
  background-color: hsla(92, 100%, 37%, 0.859);
}

.orangeguess {
  background-color: #caa905;
}

.greyguess {
  background-color: rgb(83, 83, 83);
}

.transition {
  transition: all 1s ease;
}

/*
Support for the statistics page
*/
table {
  width: 100%;
}

.stats_div {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

.white {
  color: var(--button-text);
  margin: 1rem 0;
}

tr:nth-child(even) {
  color: grey;
}

tr:nth-child(odd) {
  color: white;
}

td {
  text-align: left;
  font-size: large;
}

.stats_value {
  text-align: right;
}

#popupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  margin: 0 auto;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#popupContent {
  white-space: pre;
  font-family: MintBit-Regular;
  max-height: 30rem;
  overflow-y: auto;
}

.popupOverlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-popup {
  margin: 0.5rem auto;
  margin-bottom: 0;
  max-width: 15rem;
}

.show-popup {
  margin: 0.5rem auto;
  max-width: 15rem;
}

.loading-spinner {
  border: 0.5rem solid var(--slot-background-hover); /* Light grey */
  border-top: 0.5rem solid var(--slot-background); /* Blue */
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo
{
  max-width: 100%;
}
/* modal overlay */

/* scrollbar */

*::-webkit-scrollbar {
  height: 20px;
  width: 20px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #000000;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #000000;
}
*::-webkit-scrollbar-thumb
{
  background-color: #c0c0c0;
  border-right: 4px solid #808080;
  border-bottom: 4px solid #808080;
}
html{
  
  scroll-behavior: smooth;
}

/* minetip https://codepen.io/devbobcorn/pen/wvzxxLv */

#minetip-tooltip {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #100010;
  background-color: rgba(16,0,16,0.94);
  padding: 0.375em;
  font-family: MintBit-Regular,sans-serif;
  font-size: 20px;
  word-spacing: 4px;
  white-space: nowrap;
  line-height: 1.25em;
  margin: 0.125em 0.25em;
  pointer-events: none;
  z-index: 9999;
}
.format-f, #minetip-tooltip {
  color: #FFF;
  text-shadow: 0.125em 0.125em 0 #3F3F3F;
}
#minetip-tooltip::before {
  content: "";
  position: absolute;
  top: 0.125em;
  right: -0.125em;
  bottom: 0.125em;
  left: -0.125em;
  border: 0.125em solid #100010;
  border-style: none solid;
  border-color: rgba(16,0,16,0.94);
}
#minetip-tooltip::after {
  content: "";
  position: absolute;
  top: 0.125em;
  right: 0;
  bottom: 0.125em;
  left: 0;
  border: 0.125em solid #2D0A63;
  border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
  border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
}
